.header_background {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4eefd;
}

.profile-image {
    background-color: #1f1a24;
    background-image: url('profile_picture.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    border: 6px solid #cbbde2;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.main-section {
    padding: 40px 30px;
    text-align: center;
    color: #36273B;
}

.browse_background {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFE4E1;
}

.popular_background {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFF8D4;
}

.about_background {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #BDE4E7;

}

.resource_background {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #D4FFE9;
}

.feedback_background {
    height: 100vh;
    color: white;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #AF739A;
}

.browse_container {
    background-color:#f8c8d0;
    background-position: center;
    background-size: cover;
    text-align: left;
    padding:100px;
    width: 100%;
;
}

.search-section {
    padding: 40px 30px;
    text-align: left;
    color: #36273B;
}

.browse_words {
    padding: 100px;
}

.resource_container {
    background-color:white;
    background-position: center;
    text-align: center;
    padding:100px;
    width: 100%;
;
}