.header_background {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4eefd;
}

.profile-image {
    background-color: #1f1a24;
    background-image: url('profile_picture.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    border: 6px solid #cbbde2;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.main-section {
    padding: 40px 30px;
    text-align: center;
    color: #36273B;
}